.box-title{
    font-size: 40px;
    color: var(--text-color);
    font-weight: 500;
}
.box{
}
.box-item{
    width: 20%;
    padding: 0 10px 40px 10px;
    position: relative;

}
.box-item a{
    text-decoration: none;
}

.box-item-picture{
    width: 100%;
}
.box-item-text{
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
    color: var(--text-color);
    padding: 10px 0;
}
.box-item-text:hover{
    color: var(--main-color);
}

.box-item-cost{
    color: red;
    font-size: 16px;
    font-weight: 500;
}
.box-item-cost-remove{
    text-decoration: line-through;
    font-size: 12px;
    color: #989898;
}