.container_product{
    display: flex;
    justify-content: space-between;
}

.procuct_img{
    width: 40%;
    margin-top: 40px;
    height: 400px;
}
.procuct_img:hover{
    cursor: pointer;
}
.pro_center{
    margin-left: 20px;
}
    
.clear { clear: both; /* Hoặc clear: right; nếu chỉ muốn tắt float phải */ }
.imgv{
    width: 800px;
    margin-bottom: 10px;
}
.row{
    flex-direction: row;
}
.row1{
    display: flex;
    width: 100%;
    padding: 0px 10px;
}

@media (max-width: 1200px)
{
    .row1{
        flex-wrap: wrap;
    }
    .container_product {
        flex-wrap: wrap;
    }
    .row span{
        width: 100%;
    }
}
@media (max-width: 900px)
{
    .text img{
        width: 100%;
    }
    .procuct_img{
        width: 350px;
    }
}
.text_title1{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 30px;
}
.text{
    font-size: 16px;
    line-height: 1.8;
}
.row2{
    margin-left: 20px;
}

span{
    font-size: 15px;
    color: var(--text-color);
}
.expand_sdt{
    font-size: 14px;
    color: black;    
}
.text{
    padding: 0.5rem;
}
.expand{
    cursor: pointer;
}
.expand_link{
    text-decoration: none;
    font-size: 14px;
    color: black;
    line-height: 2rem;
}
.expand_link:hover{
    color: var(--main-color);
}
.icon{
    color: var(--main-color);
    padding: 3px;
}
.text_main{
    color: var(--main-color);
}
.pro_cost{
    font-size: 22px;
    color: #E8002D;
    font-weight: 500;
}
.vc{
    border: 1px dashed var(--main-color);
    padding: 20px;
    margin-top: 10px;
}

.pro_header{
    font-size: 16px;
    font-weight: bold;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 4px;
    width: 100px;
    padding: 1px 10px;
}
.pro_header img{
    width: 20px;
}
.offer-list, .premium-list {
    list-style-type: none;
    padding: 0;
}
.offer-list li, .premium-list li {
    margin-bottom: 10px;
    font-size: 15px;
    color: var(--text-color);

}
.offer-list li::before, .premium-list li::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 10px;
}

.premium-header {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
}
.quantity {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.quantity button {
    width: 24px;
    height: 24px;
    background-color: var(--main-color);
    border-radius: 50%;
    color: white;
    border: none;
    cursor: pointer;
}
.quantity input {
    width: 90px;
    text-align: center;
    margin: 0 4px;
    border: 1px solid var(--main-color);
    line-height: 24px;
    border-radius: 6px;
    color: var(--main-color);
    font-size: 12px;
}
.text_linkk{
    color: var(--main-color);
}
.text_linkk:hover{
    cursor: pointer;
}

.side_bar{
    padding: 20px 10px;
    position: sticky; 
    width: 75%;
    max-height: 2280px;
    top: 0;
    border: 1px dashed var(--main-color);
    border-radius: 4px;
}
.side_bar-le{
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    position: relative;
} 

.btn_pro{
    width: 250px;
    height: 50px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.btn_pro:hover{
    background-color: #fff !important;
    cursor: pointer;
    color: var(--main-color);
    transition: .4s;
    border: 1px solid var(--main-color);
}
.gold{
    margin-right: 20px;
}
.gold:hover{
    border: 1px solid #FFB916;
}

.btn_Nochange{
    width: 250px;
    height: 50px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    text-align: center;
}

.chose{
    height: 52px !important;
    background-color: var(--main-color) !important;
}
.side_bar ul{
    padding: 0;
    border: 1px solid var(--main-color);
}
.side_bar ul li{
    list-style: none;
    width: 100%;
    background-color: #ED754D;
    height: 35px;
    font-size: 16px;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #fff;
}

.dropdown-select{
    width: 100%;
    height: 25px;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
}
.dropdown-select option{
    line-height: 30px;
}

.btn_picture{
    width: 40px;
}

.pay{
    width: 90%;
    border: 1px solid var(--border-color);
    height: 170px;
   border-radius: 4px;

}
.parent_title{
    background-color: #D9D9D9;
    padding: 5px;
}
.pay_title{
    margin: 10px 0;
    color: #006C9A;
}
.img_icon{
    width: 32px;

}
.pay_text{
    font-size: 13px;
    font-weight: 500;
}
.img_icon{
    margin-right: 10px;
}
.parent_title h2{
    color: #006C9A;
    margin: 0;
    padding: 0px 20px;
    font-size: 11px;
    font-weight: 400;
}

/* Khi cửa sổ nhỏ hơn 1000px */
@media (max-width: 1100px) {
    .container_product {
        display: flex;
        flex-wrap: wrap;
    }
    .side_bar{
        width: 100%;
    }
}
/* Khi cửa sổ nhỏ hơn 1000px */
@media (max-width: 800px) {
    .row1 {
        display: flex;
        flex-wrap: wrap;
    }
    .row2{
        margin: 0;
        flex-basis: 1;
        width: 100%;
    }
    .container_product .row .row2 img{
        width: 100%;
    }
    .procuct_img{
        width: 100%;
    }
    .text_title1{
        line-height: 3rem;
    }
}