/* PHẦN FOOTER */
.footer1{
    display: flex;
    border: 0rem solid;
    background-color: #222222;
    flex-direction: row;
    padding: 30px 0 30px 0;
    height: 40rem;
}

.footer_column{
    flex: 1 1 calc(25% - 20px);
    color: white;
    padding: 10px;
}

.footer1-item{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}
@media (max-width: 900px) {
    .footer_column {
        flex: 1 1 calc(50% - 20px);
    }
    .footer1{
        height: 80rem;
    }
}
@media (max-width: 550px) {
    .footer_column {
        flex: 1 1 100%;
    }
    .footer1{
        height: 120rem;
    }
}

.footer_title{
    color: #F1FFFF;
    font-size: 16px;
}
.footer_text_main{
    color:#E95221;
    text-decoration: none;
    font-size: 13px;
}
.footer_text_main_bold{
    color:#E95221;
    font-weight: bold;
    text-decoration: none;
    font-size: 13px;
}
.footer_text_italic{
    font-style: italic;
    color: #F1FFFF;
    font-size: 13px;
}
.footer_text{
    color: #F1FFFF;
    font-size: 13px;
}
.footer_list_link{
    color: #F1FFFF;
    text-decoration: none;
    font-size: 13px;
}
.footer_item_list{
    color: #F1FFFF;
    font-size: 13px;
    line-height: 2.2rem;
}
.footer_list{
    padding-left: 1rem;
}
.footer_list_link:hover{
    color: var(--main-color);
}
.footer_icon{
    color: #F1FFFF;
    font-size: 14px;
}
.footer_icon_main{
    display: flex;
}

.footer_icon_main-a
{
    width: 30px; 
    height: 30px; 
    margin-right: 15px;
    border: 1px solid #ffffff; 
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}
.footer_icon_main-a:hover .footer_icon  {
    color: var(--main-color);
}
.footer_icon_main-a:hover{
    border: 1px solid var(--main-color); 
}

.footer2{
  padding-top: 0.2rem;
    font-size: 1.4rem;
    text-align: center;
    color: white;
    background-color: var(--main-color) ;
}

.icon-bar-right {
    position:fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
.icon-bar-left a {
    text-align: right;
    display:list-item;
    transition: all 0.4s ease;
    font-size: 2rem;
}

.icon-bar-left {
  position:fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.icon-bar-right a {
  text-align: left;
  display:list-item;
  transition: all 0.4s ease;
  font-size: 0;
}
.icon-left{
    width: 19rem; border-radius: 40px; text-decoration: none; text-align: center; color: white; background-color: gray; font-size: 17px;
}