/*navbar*/
.header{
    height: 6.9rem;
}

.header_navbar{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    margin: 1.4rem 0;
} 
@media (max-width: 1000px) {
    .item_hotline{
        display: none;
    }
   .item_search{
        display: none;
    }
    .choose_icon{
        border: 1px solid #fff;
    }
    .choose_lookup div, .choose_account div, .choose_cart div{
        display: none;
    }
    .navbar_item{
        width: 10rem;
    }
    .choose_lookup i, .choose_account i, .choose_cart i{
        border: none;
    }
}

@media (max-width: 600px) {
    .hotline-number{
        display: none;
    }
    .item_store{
        display: none;
    }
}

.navbar_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_item_border{
    width: 75%;
    border-bottom: 2px solid rgb(237, 237, 237);
}

.item_logo{
    max-width: 5.6rem;
}

.item_hotline{
    display: flex;
    font-size: 1.3rem;
    
}

.hotline-text{
    margin-right: 1rem;
}

.hotline-number{
    font-size: 1.6rem;
    color: red;
    text-decoration: none;
    font-weight: 700;
}
.hotline-number:hover{
    color: #000;
}

.item_store_system{
    display: flex;
}

.item_store{
    font-size: 1.3rem;
}
.item_store:hover{
    color: var(--main-color);
}

.item_search{
    font-size: 1.2rem;
    width: 34rem;
    line-height: 3rem;
    outline: none;
    border: none;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    padding-left: 2rem;
}

.item_icon_search{
    position: relative;
    left: 34rem;
    top: 0.2rem;
}
.item_choose{
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 18.5rem;
}

.choose_lookup{
    position: relative;
    font-size: 1rem;
}
.lookup_check{
    position: absolute;
    background-color: #ffffff;
    min-width: 20rem;
    top: 84%;
    right: -7.5rem;
    border-radius: 2px;
    list-style: none;
    border: 1px solid #d6d6d6;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    box-shadow: 1px 4px 2px #e3e3e3;
    z-index: 1;
    display: none;
}
.lookup_check::before{
    content: "";
    position: absolute;
    top: -30%;
    right: 42.5%;
    border-width: 1rem;
    border-style: solid;
    border-color: transparent transparent var(--main-color) transparent;
}
.choose_lookup:hover{
    cursor: pointer;
}
.choose_lookup:hover .lookup_check{
    display: block;
    animation: fadeIn linear .2s;
}

.check_text{
    padding: 8px 0;
    font-size: 1.4rem;
}
.check_text:hover{
    cursor: pointer;
    background-color: var(--main-color);
    color: #fff;
    animation: fadeIn linear .2s;   
}

.choose_account{
    position: relative;
    font-size: 1rem;
}
.choose_account:hover{
    cursor: pointer;
}
.account_list{
    position: absolute;
    background-color: #ffffff;
    min-width: 14rem;
    top: 84%;
    right: -4.4rem;
    border-radius: 2px;
    list-style: none;
    border: 1px solid #d6d6d6;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    box-shadow: 1px 4px 2px #e3e3e3;
    z-index: 1;
    display: none;
}
.account_item{
    padding: 8px 0;
    font-size: 1.4rem;
}
.account_list::before{
    content: "";
    position: absolute;
    top: -28%;
    right: 42.5%;
    border-width: 1rem;
    border-style: solid;
    border-color: transparent transparent var(--main-color) transparent;
}
.account_item:hover{
    cursor: pointer;
    background-color: var(--main-color);
    color: #fff;
    animation: fadeIn linear .2s;   
}

.choose_account:hover .account_list{
    display: block;
    animation: fadeIn linear .2s;
}
.account_item_icon{
    font-size: 1.8rem;
    margin-right: 0.7rem;
}


.choose_cart{
    font-size: 1rem;
    position: relative;
}
.cart-count{
    position: absolute;
    top: 0%;
    right: 0;
    background-color: var(--main-color);
    color: white;
    border-radius: 50%;
    font-size: 11px;
    width: 15px;
    height: 15px;
    z-index: 10;
}
.choose_cart:hover{ cursor: pointer;}
.header_icon{
    color: var(--main-color);
    font-size: 1.4rem;
    margin-right: 1rem;
}
.choose_icon{
    color: var(--main-color);
    font-size: 1.6rem;
    border: 1px solid #bbbbbb;
    border-radius: 50%;
    padding: 0.9rem; 
    margin-bottom: 0.5rem;
}


.cart_noti{
    position: absolute;
    background-color: #ffffff;
    min-width: 14rem;
    top: 107%;
    right: 0;
    border-radius: 2px;
    list-style: none;
    border: 1px solid #d6d6d6;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    box-shadow: 1px 2px 2px #e3e3e3;
    z-index: 10;
    
    display: none;
}
#yes_pro{
    display: none;
    overflow-y:  scroll;
    max-height: 400px;
}
#yes_pro::-webkit-scrollbar {
    width: 5px; /* Giảm độ rộng của thanh cuộn */
}

/* Nền của thanh cuộn */
#yes_pro::-webkit-scrollbar-track {
    background: #DDDDDD;
}

/* Thanh cuộn */
#yes_pro::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 8px;
}
#cost_all, #giohang{
    display: none;
}

#giohang{
    background-color: var(--main-color);
    padding-left: 10px;
    width: 100%;
    height: 32px;
    line-height: 32px;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    text-align: start;
    font-weight: 500;
}

.add_cart{
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 34rem;
}
.add_cart_picture{
    width: 60px;
    height: 60px;
}
.pro_title{
}
#name{
    font-size: 27px; 
    font-weight: 400; 
    color: var(--text-color);
}

.cost_item{
    color: var(--main-color);
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 0;
}
.qua{
    font-size: 15px;
    margin: 20px;
}
.cost_all{
    padding: 20px 10px;
    border-top: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
}
.cost_all span{
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
}
#cost {
    color: #EB254B;
    font-size: 16px;
}

.text_title{
   padding: 0px 5px;
}

.cart_picture{
    width: 33.5rem;
}
.cart_text{
    margin-top: 0;
    font-size: 1.4rem;
}
.choose_cart:hover .cart_noti{
    display: block;
}   
.cart_noti::before{
    content: "";
    position: absolute;
    top: -4%;
    right: -0.5%;
    width: 5rem;
    height: 2rem;
    background-color: transparent;
}

/*Phần Home */
    /*home*/
.home{
        width: 100%;
        background-color: var(--main-color);
        height: 4rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 6.5% 0 6.5% ;
}
@media (max-width: 700px) {
    .home a, .home div{
        font-size: 0.8rem;
        padding: 0 6px;
    }
    .home{
        height: 3rem;
        flex-wrap: wrap;
    }
} 
.home_tittle{
        font-weight: 400;
        font-size: 1.4rem;
        color: #ffffff;
        text-decoration: none;
}
    
.home_icon{
        font-size: 0.9rem;
        bottom: 0.15rem;
        color: rgba(255, 255, 255, 0.8);
        transition: 0.3s;
}
    
.home_product{
        border: 0px;
}
.home_product:hover .home_product-box{
        display: block;
        display: flex;
}
.home_product::before{
        content: "";
        position: absolute;
        background-color: transparent;
        width: 96px;
        height: 29px;
        top: 15%;
        left: 19%;
}
    
.home_product-box{
        position: absolute;
        width: calc(100% - 10px);
        height: 420px;
        background-color: #fff;
        z-index: 3;
        top: 123px;
        left: 0px;
        display: flex;
        flex-wrap: wrap;
        overflow-y: auto;
        display: none;
}
    
    /* Toàn bộ thanh cuộn */
.home_product-box::-webkit-scrollbar {
        width: 5px; /* Giảm độ rộng của thanh cuộn */
}
    
    /* Nền của thanh cuộn */
.home_product-box::-webkit-scrollbar-track {
        background: #DDDDDD;
}
    
    /* Thanh cuộn */
.home_product-box::-webkit-scrollbar-thumb {
        background: #9d9d9d;
        border-radius: 8px;
}
    
    
.home_product-box-ul{
        width: 20%;
        text-decoration: none;
        list-style: none;
        padding: 15px;
        margin: 0;
}
.home_product-box-title{
        font-size: 18px;
        color: var(--main-color);
        height: 24px;
        border-bottom: 1px solid var(--border-color);
        margin-bottom: 14px;
}
.home_product-box-title-text{
        color: var(--text-color);
        font-size: 14px;
        margin: 8px 0;
}
.home_product-box-title-text:hover{
        cursor: pointer;
        color: var(--main-color);
}
.text-colormain{
        color: var(--main-color);
}
    
.instruct_list{
        position: absolute;
        background-color: #ffffff;
        min-width: 24rem;
        top: 169%;
        right: -121%;
        list-style: none;
        border: 1px solid #c8c8c8;
        padding: 10px 8px;
        margin: 0;
        box-shadow: 1px 2px 2px var(--box-Shadow);
        z-index: 1;
        display: none;
}
.instruct_list::before{
        content: "";
        position: absolute;
        width: 60%;
        height: 15px;
        background-color: transparent;
        top: -11%;
    
}
.instruct_list-text{
        padding: 7px 0;
        font-size: 1.4rem;
        color: var(--main-color);
        border-bottom: 1px solid var(--border-color);
        font-weight: 500;
}
.instruct_list-text:last-child{
        border: none;
}
.home_tittle-instruct{
        position: relative;
}
.home_tittle-instruct:hover .instruct_list{
        display: block;
}
.home_tittle-instruct:hover .instruct_list-text{
        cursor: pointer;
    
}
.Reverser_otation:hover .home_icon{  /*Reverser_otation là class dành riêng cho xoay icon dành riêng cho class home_icon */
        transform: rotate(-180deg);
        color: #000;
}