
   /*slide */
.slide{
    width: 1520px;
    max-width: 100vw;
    height: 500px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}
.slide:hover .buttons
{
    display: block;
    display: flex;
    justify-content: space-between;

}
.list img{
    min-width: 100vw;
    height: 100%;
    object-fit: cover;
}

.buttons{
    position: absolute;
    top: 41%;
    left: 1%;
    display: flex;
    width: 98%;
    justify-content: space-between;
    display: none;
}  
@keyframes IO{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.buttons button{
    width: 50px;
    height: 50px;
    font-size: 40px;
    background-color: transparent;
    color: #000000;
    border: none;
    animation: IO ease-in-out .5s;
}

.buttons button:hover{
    cursor: pointer;
}

.dots{
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
}
.dots li.active{
    width: 30px;
}


.news{
    padding-bottom: 40px;
}
.news_box{
    width: 100%;
    display: flex;
}
@media (max-width: 1200px) {
    .news_item{
        width: 47%;
    }
    .news_box{
        flex-wrap: wrap;
        height: 450px;
    }
    .news{
        height: 800px;
    }
    
}

@media (max-width: 604px) {
    .news_item{
        width: 100%;
        height: 400px;
    }
    .news_box{
        flex-wrap: wrap;
    }
    .news{
        height: 1700px;
    }
    .new_item-box{
        
        top: 60% !important;
      
    }
   
}
.news_item{
    min-width: 23.5%;
    position: relative;
    margin: 0 1%;
    min-height: 315px;
}
.news_item:first-child{
    margin-left: 0;
}
.news_item:last-child{
    margin-right: 0;
}
.news_item-picture{
    overflow: hidden;
}
.news_item-picture-item{
    width: 100%;
    transition: transform 0.6s;
}
.news_item-picture-item:hover{
    transform: scale(1.1);
}

.new_item-box{
    width: 94%;
    box-shadow: 0px 4px 13px var(--main-color-blur);
    border-radius: 10px;
    background-color: #fff;
    z-index: 1;
    position: absolute;
    top: 46%;
    left: 3%;
    padding: 16px;
}
.new_item-box-title{
    text-decoration: none;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    line-height: 2rem;
    height: 4rem; /* Muốn chữ hiển thị chỉ 2 dòng, thì một dòng chiếm line-height là 1.8 thì 2 dòng là  3.6rem! */
    overflow: hidden;  /*kết hợp với dòng trên */
    display: block;     /*Kết hợp */
    display: -webkit-box; /*Kết hợp */
    -webkit-box-orient: vertical; /*Kết hợp */
    -webkit-line-clamp: 2;  /*Két hợp*/
}
.new_item-box-title:hover{
    color: var(--main-color);
}
.new_item-box-date{
    margin-top: 6px;
    display: flex;
    justify-content: center;
    position: relative;
}
.new_item-box-date::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
    top: 50%;
    left: 0;
    z-index: 0;
}
.new_item-box-date:hover{
    cursor: grab;
}
.new_item-box-date span{
    color: #fff;
    background-color: var(--main-color);
    border-radius: 20px;
    font-size: 12px;
    z-index: 1;
    line-height: 16px;
    padding: 4px;
    font-weight: 100;
}
.new_item-box-text{
    padding-top: 5px;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    line-height: 2rem;
    height: 6.5rem;
    overflow: hidden;  /*kết hợp với dòng trên */
    display: block;     /*Kết hợp */
    display: -webkit-box; /*Kết hợp */
    -webkit-box-orient: vertical; /*Kết hợp */
    -webkit-line-clamp: 3;  /*Két hợp*/
}
.new_item-box-text:hover{
    cursor: grab;
}


/* PHẦN FOOTER */
.footer1{
    display: flex;
    border: 0rem solid;
    height: 30rem;
    background-color: #222222;
    flex-direction: row;
   
}
.footer_title{
    color: #F1FFFF;
}
.footer_text_main{
    color:var(--main-color);
    text-decoration: none;
}
.footer_text_main_bold{
    color:var(--main-color);
    font-weight: bold;
    text-decoration: none;
}
.footer_text_italic{
    font-style: italic;
    color: #F1FFFF;
}
.footer_text{
    color: #F1FFFF;
}
.footer_list_link{
    color: #F1FFFF;
    text-decoration: none;
}
.footer_list_link:hover{
    color: var(--main-color);
}
.footer_item_list{
    color: #F1FFFF;
}
.footer_list{
    padding-left: 1rem;
}

.footer_icon{
    color: #F1FFFF;
}
.footer_icon_main{
    display: flex;
    justify-content: space-between ;
    width: 3rem;
}
/* PHẦN CONTAINER */
    /* phần services */

.container{
}

.section_services{
    display: flex;
    justify-content: space-between;
    margin: 30px 0 30px 0;
}
@media (max-width: 1100px) {
    .section_services{
        flex-wrap: wrap;
    }
    .section_services-item{
        width: 50%;
    }
}
.section_services-item{
    display: flex;
    height: 60px;
    text-align: center;
    min-width: 27rem;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px var(--box-Shadow);
    align-items: center;
    justify-content: center;
}

.services-item-text{
    margin: 0px 10px 0px 10px;
    line-height: 20px;
}

.services-item-icon{
    color: var(--main-color);
    font-size: 3rem;
}

.text_ser{
    font-size: 14px;
    color: var(--main-color);
    text-align: center;
}

    /* Phần Sale off*/
.container_SaleOff{
    padding: 18px 0 18px 0;
}

.SaleOff_picture{
    width: 100%;
    justify-content: space-between;
}

    /* Phần product */
.container_product{
    padding: 18px 0 18px 0;
}

.container_products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container_product-item{
    width: 23.5%;
    overflow: hidden;  /*Làm cho ảnh không vượt quá kích thướt cha nó*/
    margin: 1% 0;
    position:relative;
}
@media (max-width: 700px) {
    .container_product-item{
        width: 49%;
    }
}
.container_product-item:hover .Appear{
    display: block;
}
.wear{
    position: absolute;
    width: 220px;
    height: 80px;
    background-color: rgba(233, 82, 17, 0.8);
    clip-path: polygon(0 50%, 100% 20%, 100% 70%, 0 100%);
    top: 32%;
    left: 14%;
    padding: 41px 0 10px 0;
    z-index: 3;
}
.wear-text{
    color: #fff;
    font-size: 20px;
    text-align: center;
    transform: rotate(-6deg);
}
.Appear{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    top: 0px;
    left: 0px;
    z-index: 2;
    display: none;
}
.Appear::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 100%, 100% 100%, 100% 45%, 0% 56%);
    background-color:  rgba(255, 77, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 2;
}

.product-item-picture{
    width: 100%;
    transform: scale(1.2); /* zoom */
    transition: transform 0.6s;
    z-index: 1;
}
.container_product-item:hover .product-item-picture {
    transform: scale(1.05);
}

    /* Phần new product*/
.container_product-new{
    padding: 18px 0 18px 0;
    max-width: 1260px;
    margin: auto;
}

.product-new-box{
    border-top: 1px solid var(--border-color);
}

.product-new-title {
    display: flex;
    padding: 0;
}

.new-title-link{
    width: 16.67%;
    height: 46px;
    border-left: 1px solid var(--border-color);
    text-decoration: none;
    color: var(--text-color);
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    line-height: 46px;
}
.new-title-link:hover{
    cursor: pointer;
}
.new-title-link:last-child{
    border-right: 1px solid var(--border-color);
}
.background{
    background-color: var(--main-color);
    color: #fff;
}
.product-new-content{
    position: relative;
    overflow: hidden;
    margin: auto;
    height: 370px;
    background-color: #FCAF17;
}
.product-new-content-box{
    display: flex;
    /* justify-content: space-between; */
    overflow: auto;
    position: absolute;
    top: 24px;
    left: 0;
    margin: 0 17px 0 17px;
    transition: .4s;
}
.product-new-content:hover .buttons{
    display: block;
    display: flex;
    justify-content: space-between;
}

.new-content-item{
    max-width: 20%;
    background-color: #fff;
    position: relative;
    margin: 0 9px 0 9px;
}
.new-content-item:first-child{
    margin-left: 0;
}
.new-content-item:last-child{
    margin-right: 0;
}

.new-content-item-link{
    text-decoration: none;
}

.new-content-item-text{
    color: var(--text-color);
    font-size: 15px;
    line-height: 22px;
    padding: 0px 10px 0 10px;
    margin-bottom: 32px;

    height: 44px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.new-content-item-text:hover{
    color: var(--main-color);
}

.item-cost{
    font-size: 16px;
    color: red;
    position: absolute;
    top: 93%;
    left: 5%;
}








.footer1-item{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

.footer_title{
    color: #F1FFFF;
    font-size: 16px;
}
.footer_text_main{
    color:#E95221;
    text-decoration: none;
    font-size: 13px;
}
.footer_text_main_bold{
    color:#E95221;
    font-weight: bold;
    text-decoration: none;
    font-size: 13px;
}
.footer_text_italic{
    font-style: italic;
    color: #F1FFFF;
    font-size: 13px;
}
.footer_text{
    color: #F1FFFF;
    font-size: 13px;
}
.footer_list_link{
    color: #F1FFFF;
    text-decoration: none;
    font-size: 13px;
}
.footer_item_list{
    color: #F1FFFF;
    font-size: 13px;
    line-height: 2.2rem
}
.footer_list{
    padding-left: 1rem;
}
.footer_list_link:hover{
    color: var(--main-color);
}
.footer_icon{
    color: #F1FFFF;
    font-size: 14px;
}
.footer_icon_main{
    display: flex;
}

.footer_icon_main-a
{
    min-width: 30px; 
    min-height: 30px; 
    margin-right: 15px;
    border: 1px solid #ffffff; 
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}
.footer_icon_main-a:hover .footer_icon  {
    color: var(--main-color);
}
.footer_icon_main-a:hover{
    border: 1px solid var(--main-color); 
}

.footer2{
  padding-top: 0.2rem;
    font-size: 1.4rem;
    text-align: center;
    color: white;
    background-color: var(--main-color) ;
}

.icon-bar-right {
    position:fixed;
    bottom: 0;
    right: 0;
  }
.icon-bar-left a {
    text-align: right;
    display:list-item;
    transition: all 0.4s ease;
    font-size: 2rem;
}

.icon-bar-left {
  position:fixed;
  bottom: 0;
  left: 0;
}
.icon-bar-right a {
  text-align: left;
  display:list-item;
  transition: all 0.4s ease;
  font-size: 0;
}