:root{
    --main-color: rgb(233, 82, 33);
    --main-color-blur: rgba(233, 82, 33, 0.7);
    --text-color: #4a4a4a;
    --border-color: #dddddd;
    --box-Shadow: rgba(0, 0, 0, 0.1);

}

*{
    box-sizing: inherit;  /*Thẻ con kế thừa các thuộc tính của thẻ cha */
}

html{
    font-size: 62.5%;    /*Hack để chuẩn hóa đơn vị một cách dễ dàng. Thông thường 1rem sẽ là 16px nhưng với đoạn này 1rem tương ứng 10px */
    line-height: 1.6rem; /*Áp dụng chiều cao cho các text mặc định là 16px */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}   

.grid{
    width: 1260px;
    max-width: 100%;
    margin: 0 auto;
}

.grid_row{
    display: flex;
    flex-wrap: wrap;
}

.bold{
    font-weight: bold;
}

/*Thiết lập nút bấm chung */
.btn{
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    flex-wrap: nowrap;
}
.btn a{
    text-decoration: none;
}
.btn-item{
    font-size: 1.4rem;
    border: 1px solid var(--main-color);
    width: 3rem;
    height: 3rem;
    color: var(--main-color);
    padding: 0.7rem;
    border-radius: 5px;
    margin: 0.3rem;
    margin-bottom: 5rem;
} 
.btn-click{
    background-color: var(--main-color);
    color: #fff;
}
