body {
    font-size: 1.4rem;
}

.title_main{
    font-size: 14px;
    text-decoration: none;
    color: #333E44;
    line-height: 5rem;
}
.title_main:hover{
    color: var(--main-color);
}

.title_link{
    font-size: 14px;
    color: var(--main-color);
}

.container {
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    margin-bottom: 4rem;
}
.column {
    margin-left:0.5rem;
}
.right_column{
    font-size: 1.4rem;
    padding-left: 2rem;
    text-wrap: wrap;
}

.popup-column {
    display: none;
}
@media (min-width: 1000px) {
    .popup-column {
        display: block;
    }
}

.box{
    display: flex;
    height: 11rem;
    width: 29rem;
    border-top: 1px solid rgb(233, 230, 230);
}

.mini_box{
    font-size: 1.4rem;
    padding: 0.5rem;
}

.mini_container{
    border: 1px solid rgb(233, 230, 230);
    border-radius: 10px;
    width: 29rem;
}

.picture{
    height: 8.5rem;
    width: 11rem;
    padding-top: 1.5rem;
}

.text{
    text-decoration: none;
    color: black;
    cursor: pointer;
}



.text:hover{
    color: var(--main-color);
}

.box_oversize{
    margin-top: 3rem;
    background-color: rgb(241, 244, 247);
    width: 28rem;
    padding: 2rem;
    border-radius: 5px;
    overflow-x: hidden;
}

h1{
    padding-left: 1rem;
}

.ita_line{
    font-style: italic;
}

.text1{
    color: var(--main-color);
    font-size: 1.6rem;
}

.text2{
    color: var(--main-color);
    font-size: 1.4rem;
    text-decoration: none;
}

.mo{
    color: var(--text-color);
}

.text_size{
    font-size: 15px;
    line-height: 2.5rem;
    color: var(--text-color);
}


.stress{
    font-weight: bold;
    font-size: 1.8rem;
    color: #333E44;
}

.promise{
    font-weight: bold;
    color: red;
    font-size: 1.6rem;
    text-align: center;
}
h3{

    color: #333E44;
}

.datetime{
    font-size: 15px;
    color: #B0B0B0;
    font-style: italic;
}
