.title{
    background-color: #F5F5F5;
    height: 5rem;
    display: flex;
    vertical-align: middle;
}
.list{
    text-decoration: none;
    list-style: none;
}
.title_main{
    font-size: 14px;
    text-decoration: none;
    color: #333E44;
}
.title_main:hover{
    color: var(--main-color);
}
.title_1{
    font-size: 14px;
}
.title_link{
    font-size: 14px;
    color: var(--main-color);
}
/*container*/
.container{
    display: flex;
}
.container1{
}
.container1_title{
    font-weight: bold;
    font-size: 16px;
    color: #333E44;
}
.hightlight{
    color: #FCAF17;
    font-size: 14px;
    text-decoration: none;
}
.hightlight:hover{
    color: #01567F;
}
.info{
    color: #333E44;
    font-size: 14px;
    font-weight: bold;
}
.ten{
    height: 3.5rem;
    width: 25rem;
    border: 1px solid;
    border-radius: 4px;
}
.mail{
    height: 3.5rem;
    width: 25rem;
    border: 1px solid;
    border-radius: 4px;
}
.phone{
    height: 3.5rem;
    width: 50.3rem;
    border: 1px solid;
    border-radius: 4px;
}
.text{
    height: 12rem;
    width: 50.3rem;
    vertical-align:top;
    border: 1px solid;
    border-radius: 4px;
}
.check{
    width: 12rem;
    height: 3.5rem;
    background-color: #01567F;
    color: #F5F5F5;
    border: hidden;
    border-radius: 5px;
}
.check:hover{
    background-color: #FCAF17;
}
.container2_title{
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: #333E44;
}
.container2_title:hover{
    color: var(--main-color);
}
._{
    font-size: 14px;
}
.container2_text{
    font-size: 14px;
    text-decoration: none;
    color: #333E44;
}
.container2_text:hover{
    color: var(--main-color);
}