.title{
    background-color: #F5F5F5;
    height: 5rem;
    display: flex;
    vertical-align: middle;
}
.list{
    text-decoration: none;
    list-style: none;
}
.title_main{
    font-size: 14px;
}
.title_1{
    font-size: 14px;
}
.title_link{
    font-size: 14px;
    color: var(--main-color);
}