/*navbar*/
.header{
    height: 12.5rem;
}

.header_navbar{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    margin: 1.4rem 0;
}

.navbar_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_item_border{
    width: 75%;
    border-bottom: 2px solid rgb(237, 237, 237);
}

.item_logo{
    max-width: 5.6rem;
}

.item_hotline{
    display: flex;
    font-size: 1.3rem;
    
}

.hotline-text{
    margin-right: 1rem;
}

.hotline-number{
    font-size: 1.6rem;
    color: red;
    text-decoration: none;
    font-weight: 700;
}
.hotline-number:hover{
    color: #000;
}

.item_store_system{
    display: flex;
}

.item_store{
    font-size: 1.3rem;
}
.item_store:hover{
    color: var(--main-color);
}

.item_search{
    font-size: 1.2rem;
    width: 34rem;
    line-height: 3rem;
    outline: none;
    border: none;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    padding-left: 2rem;
}

.item_icon_search{
    position: relative;
    left: 34rem;
    top: 0.2rem;
}
.item_choose{
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 18.5rem;
}

.choose_lookup{
    position: relative;
    font-size: 1rem;
}
.lookup_check{
    position: absolute;
    background-color: #ffffff;
    min-width: 20rem;
    top: 84%;
    right: -7.5rem;
    border-radius: 2px;
    list-style: none;
    border: 1px solid #d6d6d6;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    box-shadow: 1px 4px 2px #e3e3e3;
    z-index: 1;
    display: none;
}
.lookup_check::before{
    content: "";
    position: absolute;
    top: -30%;
    right: 42.5%;
    border-width: 1rem;
    border-style: solid;
    border-color: transparent transparent var(--main-color) transparent;
}
.choose_lookup:hover{
    cursor: pointer;
}
.choose_lookup:hover .lookup_check{
    display: block;
    animation: fadeIn linear .2s;
}

.check_text{
    padding: 8px 0;
    font-size: 1.4rem;
}
.check_text:hover{
    cursor: pointer;
    background-color: var(--main-color);
    color: #fff;
    animation: fadeIn linear .2s;   
}

.choose_account{
    position: relative;
    font-size: 1rem;
}
.choose_account:hover{
    cursor: pointer;
}
.account_list{
    position: absolute;
    background-color: #ffffff;
    min-width: 14rem;
    top: 84%;
    right: -4.4rem;
    border-radius: 2px;
    list-style: none;
    border: 1px solid #d6d6d6;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    box-shadow: 1px 4px 2px #e3e3e3;
    z-index: 1;
    display: none;
}
.account_item{
    padding: 8px 0;
    font-size: 1.4rem;
}
.account_list::before{
    content: "";
    position: absolute;
    top: -28%;
    right: 42.5%;
    border-width: 1rem;
    border-style: solid;
    border-color: transparent transparent var(--main-color) transparent;
}
.account_item:hover{
    cursor: pointer;
    background-color: var(--main-color);
    color: #fff;
    animation: fadeIn linear .2s;   
}
.choose_account:hover .account_list{
    display: block;
    animation: fadeIn linear .2s;
}
.account_item_icon{
    font-size: 1.8rem;
    margin-right: 0.7rem;
}


.choose_cart{
    font-size: 1rem;
    position: relative;
}
.choose_cart:hover{ cursor: pointer;}
.header_icon{
    color: var(--main-color);
    font-size: 1.4rem;
    margin-right: 1rem;
}
.choose_icon{
    color: var(--main-color);
    font-size: 1.6rem;
    border: 1px solid #bbbbbb;
    border-radius: 50%;
    padding: 0.9rem; 
    margin-bottom: 0.5rem;
}
.cart_noti{
    position: absolute;
    background-color: #ffffff;
    min-width: 14rem;
    top: 107%;
    right: 0;
    border-radius: 2px;
    list-style: none;
    border: 1px solid #d6d6d6;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    box-shadow: 1px 4px 2px #e3e3e3;
    z-index: 1;
    display: none;
}
.cart_picture{
    width: 33.5rem;
}
.cart_text{
    margin-top: 0;
    font-size: 1.4rem;
}
.choose_cart:hover .cart_noti{
    display: block;
}   
.cart_noti::before{
    content: "";
    position: absolute;
    top: -15%;
    right: -0.5%;
    width: 5rem;
    height: 2rem;
    background-color: transparent;
}