body {
    font-size: 1.4rem;
}

.title_main{
    font-size: 14px;
    text-decoration: none;
    color: #333E44;
    line-height: 5rem;
}
.title_main:hover{
    color: var(--main-color);
}


.title_link{
    font-size: 14px;
    color: var(--main-color);
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
}

.column1 {
    flex-basis: 25%;
    margin-left: 0.5rem;
    padding: 2rem;
}

.column2 {
    flex-basis: 72%;
    flex-grow: 1;
    margin-left: 0.5rem;
    padding: 2rem;
}

.popup-column {
    display: none;
}

@media (min-width: 1200px) {
    .popup-column {
        display: block;
    }
}

@media (max-width: 768px) {
    /* Khi màn hình nhỏ hơn 768px, các cột sẽ xếp dọc */
    .column1, .column2 {
        flex-basis: 100%; /* Đặt chiều rộng là 100% để cột chiếm toàn bộ hàng */
    }
}

.box2 {
    height: 22rem;
    padding-left: 2rem;
    width: 100%; /* Điều chỉnh width để phù hợp với cột */
    padding-right: 2rem;
}

.box {
    padding-left: 2rem;
    width: 100%; /* Điều chỉnh width để phù hợp với cột */
    padding-right: 2rem;
}

/* Các phần khác */
.demand_scroll::-webkit-scrollbar {
    width: 5px;
}

.demand_scroll::-webkit-scrollbar-track {
    background: rgb(232, 230, 230);
    border-radius: 1px;
}

.demand_scroll::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 7px;
}

.box_oversize {
    margin-top: 3rem;
    background-color: rgb(241, 244, 247);
    width: 100%; /* Điều chỉnh width để phù hợp với cột */
    padding: 2rem;
    border-radius: 5px;
}

.demand_scroll {
    height: 16rem;
    overflow: auto;
}

.text {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.right_column {
    font-size: 1.7rem;
    padding-left: 2rem;
    text-wrap: wrap;
    line-height: 3rem;
}

h3 {
    color: #333E44;
}

.text:hover {
    color: var(--main-color);
}

.mini_container {
    border: 1px solid rgb(233, 230, 230);
    border-radius: 10px;
    width: 100%; /* Điều chỉnh width để phù hợp với cột */
}

.title_theme {
    border: 1px solid white;
    width: 100%; /* Điều chỉnh width để phù hợp với cột */
    border-radius: 10px;
    background: rgb(241, 244, 247);
}

/* Phần container chứa hình ảnh */
.large_container {
    background: white;
    flex-basis: 72%;
}

.picture_line {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.picture_box {
    width: calc(25% - 1rem);
    margin: 0.5rem 0;
    box-sizing: border-box;
}

.picture {
    height: 20rem;
    width: 100%; /* Ảnh sẽ chiếm hết không gian trong box */
    display: block;
}

/* Responsive cho hình ảnh */
@media (max-width: 770px) {
    .picture_line {
        justify-content: center;
        gap: 10rem; 
    }

    .picture_box {
        width: 35%; 
    }
}


.sale_price{
    color: var(--cost-color);
    font-weight: bold;
}
.old_price{
    font-size: 1.2rem;
    text-decoration:line-through;
    color: rgb(121, 124, 126);
}
.d{
    text-decoration: underline;
    color: var(--cost-color);
}

.link{
text-decoration: none;
color: black;
}

.link:hover{
    color: var(--main-color);
}

h3{
    color: rgb(55, 53, 53);
}

.list_box:hover{
    background: var(--main-color);
    color: white;
}

a{
    text-align: left;
    text-decoration: none;
}
.text2{
    color: var(--main-color);
    font-size: 1.4rem;
    text-decoration: none;
    font-size: 1.7rem;
}


table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

.stress{
    font-weight: bold;
    font-size: 1.8rem;
    color: #333E44;
}