body {
    font-size: 1.4rem;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.column {
    width: 29rem;
    margin-left:0.5rem;
    padding: 2rem;
}
.popup-column {
    display: none;
}
@media (min-width: 1000px) {
    .popup-column {
        display: block;
    }
}

.box{
    height: 22rem;
    padding-left: 2rem;
    width: 28rem;
}

.box_oversize{
    margin-top: 3rem;
    background-color: rgb(241, 244, 247);
    width: 28rem;
}

.demand_scroll{
    height: 16rem;
    overflow: auto;
}

.text:hover{
    color: var(--main-color);
}

.mini_container{
    border: 1px solid rgb(233, 230, 230);
    border-radius: 10px;
    width: 29rem;
}
